/* ----------------------- MOBILE DESIGN ---------------------------------------*/

/* ----------------------- HOME PAGE -------------------------------------------*/

html {
  color: #000000;
  font-family: Montserrat;
  font-size: 10px;
}

/* ----------------------- BODY COLOR OF HTML BACKGROUND -----------------------*/

body {
  background-color: #ffffff;
}

/* ----------------------- GRID ------------------------------------------------*/

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5.7rem 42vw 42vw 42vw 42vw;
}

/* ----------------------- MOBILE / DESKTOP NAV BAR ----------------------------*/

/* header */

.header {
  background-color: #FFA796;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;

}

.header ul {
  background-color: #FFA796;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.header li a {
  border-right: 1px solid #f4f4f4;
  color: #000000;
  display: block;
  font-size: 2vw;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.logo {
  display: block;
  float: left;
  font-size: 2vw;
  padding: .5vw 0 .5vw 1vw;
  text-decoration: none;
  width: 139px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* ----------------------- MENU BAR --------------------------------------------*/

.menu {
  background-color: #FFA796;
  padding-bottom: 2rem;
  padding-right: 1rem;
}

.topnav a:hover {
  background-color: #000000;
}

/* ----------------------- HERO SECTION HOME PAGE-------------------------------*/

/* ----------------------- MOBILE LOGO -----------------------------------------*/

.hero{
  border-bottom: 3.5vw solid white;
  width: 100%;
}

.feathers{
  height: 100%;
  width: 100%;
}

.image-feathers{
  height: 100%;
  width: 100%;
}

.hero h1{
  font-size: 4vw;
  height: auto;
  line-height: 128%;
  padding: 7vw 0 0 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.hero h2{
  font-size: 2.5vw;
  height: auto;
  line-height: 128%;
  padding: 25vw 0 0 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* ----------------------- MY STORY SECTION HOME PAGE---------------------------*/

.my-journey{
  background-image:url(../images/summer-and-me.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom: 4vw solid white;
  width: 100%;
}

.my-journey p, h2{
  font-family: Montserrat;
  padding: 5vw 0 0 0;
  text-align: center;
  width:49%;
}

.my-journey h2{
  font-size: 4vw;
}

.my-journey p{
  font-size: 2.5vw;
  line-height: 5vw;
  padding-bottom: 3vw;
}

.My-Life-Button{
  background-color: #D6FFF9;
  border: white 2px solid ;
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
  color: #000000;
  font-family: Raleway;
  font-size: 2.5vw;
  line-height: 4.3vw;
  position: absolute;
  right: 68%;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: .5vw;
  width: 14%;
}


/* ----------------------- SAVE SAFE SECTION HOME PAGE--------------------------*/
.Save-Safe{
  background-color: #FFA796;
  background-image:url(../images/savesafesectionimage.png);
  background-size: 57%;
  background-repeat: no-repeat;
  border-bottom: 3.5vw solid white;
}

.Save-Safe h2, p, h3{
  padding: 5vw 0 0 50vw;
  text-align: center;
  width:49%;
}

.Save-Safe h2{
  font-size: 4vw;
}

.Save-Safe p{
  font-family: Montserrat;
  font-size: 2.5vw;
  line-height: 4.3vw;
  padding: 4vw 0 0 63vw;
  width: 30%;
}

.Save-Safe h3{
  font-size: 2.5vw;
  line-height: 4.3vw;
  padding-bottom: 5vw;
  padding-top: 1vw;
}

.Prototype-Button{
  background-color: #D6FFF9;
  border: white 2px solid ;
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
  color: #000000;
  font-family: Raleway;
  font-size: 2.5vw;
  line-height: 4.3vw;
  position: absolute;
  right: 26vw;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: .5vw;
  width: 14%;
}

.Case-Study-Button{
  background-color: #D6FFF9;
  border: white 2px solid ;
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
  color: #000000;
  font-family: Raleway;
  font-size: 2.5vw;
  line-height: 4.3vw;
  position: absolute;
  right: 8vw;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: .5vw;
  width: 14%;
}

/* ----------------------- BOTTOM CONTACT SECTION HOME PAGE --------------------*/

.lets-talk-links h1{
  font-size: 4vw;
  padding: 7vw 0 8vw 0;
  text-align: center;
  width: 100%;
}

.email-link{
  color: #000000;
  cursor: pointer;
  font-size: 2.5vw;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.icon{
  font: normal normal normal 6vw/1 FontAwesome;
  padding-top: 13vw;
  text-align: center;
  width: 100%;
}

.linkedin-link{
  color: #000000;
  padding: 0 4vw 0 4vw;
}

.github-link{
  color: #000000;
  padding: 0 4vw 0 4vw;
}

.facebook-link{
  color: #000000;
  padding: 0 4vw 0 4vw;
}

.twittier-link{
  color: #000000;
  padding: 0 4vw 0 4vw;
}

.footer{
  background-color: #97B7CC;
  width: 100%;
}

/* ------------------CASE STUDY FOR SAVE SAFE MOBILE ---------------------------*/

/* ------------------GRID FOR CASE STUDY SAVE SAFE -----------------------------*/

.container-SaveSafe{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:
  /*-- nav --*/5.5rem
  /*-- Hero --*/38vw
  /*-- Overview --*/48vw
  /*-- Problem --*/56vw
  /*-- Solution --*/38vw
  /*-- Process --*/67vw
  /*-- User Surveys --*/35vw
  /*-- SWOT Surveys --*/25vw
  /*-- Personas --*/193vw
  /*-- User Stories --*/32vw
  /*-- User Flows --*/150vw
  /*-- Wireframes --*/126vw
  /*-- Analysis of Test --*/55vw
  /*-- Mockups --*/42vw
  /*-- Branding --*/180vw
  /*-- Typeface --*/70vw
  /*-- Prototype --*/42vw
  /*-- Analysis of Test --*/70vw
  /*-- Conclusion --*/36vw
  /*-- Footer --*/42vw
  ;
}

/* ------------------HERO SECTION FOR CASE STUDY SAVE SAFE ---------------------*/

h1{
  font-size: 4vw;
  padding: 5vw 0 4vw 4vw;
}

p{
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  padding: 0 4vw 1vw 4vw;
  width: 91%;
  text-align: left;
}

.hero-image{
  width: 100%;
}

.hero-SaveSafe h1{
  font-size: 4vw;
  line-height: 6vw;
  padding: 3vw 0 0 14vw;
  position: absolute;
  text-align: center;
  width: 23vw;
}

.hero-SaveSafe h2{
  font-size: 2vw;
  line-height: 4vw;
  padding: 17vw 0 0 11vw;
  position: absolute;
  text-align: center;
  width: 29vw;
}

.SaveSafe-Prototype-Button{
  background-color: #D6FFF9;
  border: white 2px solid ;
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
  color: #000000;
  font-family: Raleway;
  font-size: 2vw;
  line-height: 4.3vw;
  margin-top: 29vw;
  position: absolute;
  right: 67.5vw;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: .5vw;
  width: 14%;
}

/* ------------------ OVERVIEW SECTION -----------------------------------------*/

.Overview{
  background-color: #FFFFFF;
  width: 100%;
}

.overview-bold{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  font-weight: 900;
  padding: 1vw 0 3vw 4.5vw;
}

.role{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding-left: 5vw;
  width: 80%;
}

.tools{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding-left: 4.3vw;
  width: 80%;
}

.date{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding-left: 5vw;
  width: 80%;
}

.skills-info{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 4vw;
  padding-left: 4.5vw;
  position: absolute;
  text-align: left;
  width: 75%;
}

/* ------------------ PROBLEM SECTION ------------------------------------------*/

.Problem{
  background: #FFA796;
  border-bottom: 3.5vw solid white;
  width: 100%;
}

.top-line-problem{
  align-items: center;
  color: #000000;
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  font-weight: 900;
  padding: 0 15vw 5vw 15vw;
  width: 70%;
}

.ProblemLine-1{
  color: #000000;
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding-left: 26vw;
}

.problem-2{
  color: #000000;
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding: 0 17vw 3vw 15vw;
}

.problem-4{
  color: #000000;
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding: 0 17vw 3vw 21.2vw;
}

.problem-6{
  color: #000000;
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding: 0 17vw 3vw 20vw;
}

.problem-8{
  color: #000000;
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding: 0 17vw 0 22vw;
}

.bottom-line-problem{
  font-family: Source Sans Pro;
  font-size: 2vw;
  font-weight:900;
  padding: 5vw 16vw 0 18vw;
  width: 65%;
}

/* ------------------ SOLUTION SECTION -----------------------------------------*/
.Solution{
  background-image:url(../images/solution-photo-section.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.Solution h1{
  padding: 4vw 0 0 58vw;
  position: absolute;
  font-size: 4vw;
}

.Solution p{
  color: #000000;
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  position: absolute;
  text-align: left;
  width: 39%;
  padding: 14vw 0 0 58vw;
}

/* ------------------ PROCESS SECTION ------------------------------------------*/

.Process-List {
  list-style: initial;
}

.Process-Section{
  background-color: #FFFFFF;
  width: 100%;
}

.process-1{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding: 4vw 0 0 26vw;
}

.process-2{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding: 0 0 0 24vw;
}

.process-4{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding: 0 0 0 23vw;
}

.process-6{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding: 0 0 0 25.8vw;
}

.process-8{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding-left: 17.5%;
  padding: 0 6vw 0 19.5vw;
}

.process-10{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  padding-left: 21.8%;
  padding: 0 11vw 0 22.5vw;
}

/* ------------------ USER SURVEYS SECTION--------------------------------------*/

.User-Surveys-Section{
  background: #FFA796;
  width: 100%;
}

/* ------------------ SWOT ANALYSIS SECTION-------------------------------------*/

.SWOT-Analysis-Section{
  width: 100%;
}

/* ------------------ PERSONAS SECTION -----------------------------------------*/

.Persona-Image-Section{
  width: 100%;
}

.Personas-Section h1{
  padding: 4vw 0 0 4vw;
  position: absolute;
}

.Personas-Section p{
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  padding: 15vw 0 0 4vw;
  position: absolute;
  width: 47%;
  text-align: left;
}

.joe-persona-images{
  height: 146vw;
  padding: 4vw 0 4vw 4vw;
  width: 92%;
}

/* ------------------ USER STORIES SECTION -------------------------------------*/

.User-Stories-Section{
  background: #FFA796;
  width: 100%;
}

/* ------------------ USER FLOW SECTION ----------------------------------------*/

.User-Flows-Section{
  width: 100%;
}

.UserFlow-Images{
  padding-top: 5.3vw;
  width: 100%;
}


/* ------------------ WIREFRAME SECTION ----------------------------------------*/

.Wireframe-image{
  width: 100%;
}

.Wireframes-Section h1{
  font-size: 4vw;
  padding: 4vw 0 0 58vw;
  position: absolute;
}

.Wireframes-Section p{
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  padding: 14vw 0 0 58vw;
  position: absolute;
  text-align: left;
  width: 40%;
}

.Wireframe-Images{
  height: 82vw;
  padding: 4vw 4vw;
  width: 92%;
}


/* ------------------ ANALYSIS OF TEST SECTION --------------------------------*/

.Analysis-of-Test-Section{
  background: #FFA796;
  width: 100%;
}

.test-1{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2.5vw;
  font-weight: 900;
  padding: 0 4vw 0 4vw;
}

.test-2{
  font-family: Source Sans Pro;
  font-size: 2.5vw;
  font-weight: 900;
  padding: 13vw 4vw 0 4vw;
  position: absolute;
}

.test-3{
  font-family: Source Sans Pro;
  font-size: 2.5vw;
  font-weight: 900;
  padding: 26.6vw 4vw 0 4vw;
  position: absolute;
}

.test-1-info{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  position: absolute;
  width: 79.5%;
}

.test-2-info{
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  padding-left: 14vw;
  padding-top: 13vw;
  position: absolute;
  width: 79.5%;
}

.test-3-info{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  position: absolute;
  padding-top: 29vw;
  width: 79.5%;
}

/* ------------------ MOCKUPS SECTIONS ----------------------------------------*/

.Mockup-Image{
  padding-top: 4vw;
  width: 100%;
}

.Mockup-Section h1{
  font-size: 4vw;
  padding: 9vw 0 4vw 4vw;
  position: absolute;
}

.Mockup-Section p{
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  padding: 18vw 0 0 4vw;
  position: absolute;
  width: 39%;
}

.Mockup-Image-Digital{
  padding-top: 4vw;
  width: 100%;
}

/* ------------------ BRANDING SECTION ----------------------------------------*/

.Branding-Section{
  background: #ffffff;
  width: 100%;
}

.sketching-of-logo{
  padding: 4vw 0 0 4vw;
  width: 92%;
}

.color-info{
  padding: 4vw 0 0 4vw;
  width: 92%;
}

.Mobile-logo-digital{
  padding: 4vw 0 4vw 16vw;
  width: 65%;
}

/* ------------------ TYPEFACE SECTION ----------------------------------------*/

.Typeface-Section{
  background: #FFA796;
  border-bottom: 3.5vw solid white;
  width: 100%;
}

.Plantagenet-Cherokee-font{
  font-family: Plantagenet Cherokee;
  font-size: 2vw;
  line-height: 3.5vw;
  padding: 4vw 0 4vw 30vw;
  width: 40%;
}

.Ovo-font{
  font-family: Ovo;
  font-size: 2vw;
  line-height: 3.5vw;
  padding: 4vw 0 4vw 30vw;
  width: 40%;
}

/* ------------------ PROTOTYPE SECTION----------------------------------------*/

.Prototype-image{
  width: 100%;
}

.Prototype h1{
  font-size: 4vw;
  padding: 6vw 0 5vw 58vw;
  position: absolute;
}

.Prototype p{
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  padding: 17vw 0 0 58vw;
  position: absolute;
  width: 38%;
}

/* ------------------ ANALYSIS OF TEST SECTION --------------------------------*/

.test2-one{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2.5vw;
  font-weight: 900;
  padding: 0 4vw 0 4vw;
}

.test2-two{
  font-family: Source Sans Pro;
  font-size: 2.5vw;
  font-weight: 900;
  padding: 16.5vw 4vw 0 4vw;
  position: absolute;
}

.test2-three{
  font-family: Source Sans Pro;
  font-size: 2.5vw;
  font-weight: 900;
  padding: 35vw 4vw 0 4vw;
  position: absolute;
}

.test2-one-info{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  position: absolute;
  width: 79.5%;
}

.test2-two-info{
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  padding-left: 15vw;
  padding-top: 16vw;
  position: absolute;
  width: 79.5%;
}

.test2-three-info{
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  padding-top: 37vw;
  position: absolute;
  width: 79.5%;
}

/* ------------------ CONCLUSION SECTION --------------------------------------*/

.Conclusion{
  background: #FFA796;
  width: 100%;
}

.Conclusion p{
  font-family: Source Sans Pro;
  font-size: 2vw;
  line-height: 3.5vw;
  padding: 0 0 0 4vw;
  width: 91%;
}

/* ------------------ START OF MY JOURNEY PAGE --------------------------------*/


/* ------------------ MY JOURNEY CONTAINER ------------------------------------*/
.container-journey{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5.7rem 45vw 158vw 42vw;
}

.Journey-Image{
  height: 100%;
  width: 100%;
}
.hero-journey{
  border-bottom: 13.5px solid white;
}

.my-journey-h1{
  font-size: 4vw;
  line-height:6vw;
  padding: 14vw 0 0 6vw;
  position: absolute;
  width: 38vw;
}

.p-1 {
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 2.5vw;
  line-height: 4vw;
  padding: 5vw 5vw 0 5vw;
  width: 90%;
  text-align: left;
}

.bold{
  font-weight: 900;
}

/* ------------------ Media Quiry for Home Page ------------------------------*/

@media (min-width: 768px) {

.header li {
  float: left;
  }

.header li a {
  padding: 20px 30px;
  }

.header .menu {
  clear: none;
  float: right;
  max-height: none;
  }

.header .menu-icon {
  display: none;
  }
}
